{%- import "macros/_images" as imageFunctions -%}
{% set outputWidths = [480, 640, 1024, 1600] %}
{%- set initialQuality = 20 -%}
{%- if image.aspectRatio | length -%}
  {% set aspect = image.aspectRatio|split('x') %}
  {% set aspectRatio = (aspect[0]/aspect[1]) %}
  {%- set small = { width: 40, height: 40 / aspectRatio, quality: initialQuality } -%}
  {%- set medium = { width: 100, height: 100 / aspectRatio, quality: initialQuality } -%}
{%- else -%}
  {%- set aspectRatio = (4/3) -%} {# Default aspect ratio #}
  {%- set small = { width: 40, quality: initialQuality } -%}
  {%- set medium = { width: 100, quality: initialQuality } -%}
{%- endif -%}

<figure class="grid-image">
  <a href="{{ image.getUrl() }}" data-fancybox="gallery">
    <img
      class="lazyload"
      src="{{ image.getUrl(small) }}"
      data-src="{{ image.getUrl(medium) }}"
      data-sizes="auto"
      data-srcset="{{ imageFunctions.srcset(image, outputWidths) }}"
      {% if image.alt %}alt="{{ image.alt }}"{% endif %}>
  </a>
  {% if image.caption %}
  <figcaption>{{ image.caption }}</figcaption>
  {% endif %}
</figure>
