{% if entry.videoFeatureBlock | length %}
  {% set videoBlock = entry.videoFeatureBlock.one() %}

  <section id="block--featured-video">
    {% if videoBlock.backgroundImage | length %}

      {%- import "macros/_images" as imageFunctions -%}
      {% set image = videoBlock.backgroundImage.one() %}
      {% set outputWidths = [480, 736, 980, 1280, 1690] %}
      {%- set lowQuality = 20 -%}
      {%- set mobileAspectRatio = (16/15) -%}
      {%- set mobileSmall = { width: 40, height: 40 / mobileAspectRatio, quality: lowQuality } -%}

      {%- set desktopAspectRatio = (12/5) -%}
      {%- set desktopSmall = { width: 40, height: 40 / desktopAspectRatio, quality: lowQuality } -%}

      <figure class="mobile">
        <img class="lazyload"
          src="{{ image.getUrl(mobileSmall) }}"
          data-sizes="100vw"
          data-srcset="{{ imageFunctions.srcset(image, outputWidths, mobileAspectRatio) }}"
          {% if image.alt %}alt="{{ image.alt }}"{% endif %}>
        {% if image.caption %}
        <figcaption>{{ image.caption }}</figcaption>
        {% endif %}
      </figure>

      <figure class="desktop">
        <img class="lazyload"
          src="{{ image.getUrl(desktopSmall) }}"
          data-sizes="100vw"
          data-srcset="{{ imageFunctions.srcset(image, outputWidths, desktopAspectRatio) }}"
          {% if image.alt %}alt="{{ image.alt }}"{% endif %}>
        {% if image.caption %}
        <figcaption>{{ image.caption }}</figcaption>
        {% endif %}
      </figure>
    {% endif %}

    {% set video = videoBlock.video %}

    <div id="block--featured-video--content">
      <div id="block--featured-video--title">
        <h2>{{ videoBlock.headline }}</h2>
        {% if videoBlock.subHeadline %}<h3>{{ videoBlock.subHeadline }}</h3>{% endif %}
      </div>
      <a id="block--featured-video--play" data-fancybox href="{{ video.url }}" data-options='{"toolbar" : false, "smallBtn" : true}'><span>Play Video</span></a>
    </div>
  </section>
{% endif %}
