{%- set cat = craft.categories.group('storyType').slug(spotlightType).one() -%}
{%- set spotlight = craft.entries.section('newsEvents').relatedTo(cat).one() -%}
{% if craft.entries.section('newsEvents').relatedTo(cat).count() %}
<section class="block--spotlight">
  <a href="{{ spotlight.url }}" title="Champion of the Month: {{ spotlight.title }}">
    {% if spotlight.primaryImage.count() %}
      {%- import "macros/_images" as imageFunctions -%}
      {%- set image = spotlight.primaryImage.one() -%}
      {% set outputWidths = [480, 640, 1024, 1600] %}
      {%- set initialQuality = 20 -%}

      {%- set mobileAspectRatio = (15/8) -%}
      {%- set mobileSmall = { width: 40, height: 40 / mobileAspectRatio, quality: initialQuality } -%}
      {%- set mobileMedium = { width: 100, height: 100 / mobileAspectRatio, quality: initialQuality } -%}

      {%- set desktopAspectRatio = (9/5) -%}
      {%- set desktopSmall = { width: 40, height: 40 / desktopAspectRatio, quality: initialQuality } -%}
      {%- set desktopMedium = { width: 100, height: 100 / desktopAspectRatio, quality: initialQuality } -%}

        <figure class="mobile">
          <img class="lazyload"
            src="{{ image.getUrl(mobileSmall) }}"
            data-src="{{ image.getUrl(mobileMedium) }}"
            data-sizes="auto"
            data-srcset="{{ imageFunctions.srcset(image, outputWidths, mobileAspectRatio) }}"
            {% if image.alt %}alt="{{ image.alt }}"{% endif %}>
          {% if image.caption %}
          <figcaption>{{ image.caption }}</figcaption>
          {% endif %}
        </figure>

        <figure class="desktop">
          <img class="lazyload"
            src="{{ image.getUrl(desktopSmall) }}"
            data-src="{{ image.getUrl(desktopMedium) }}"
            data-sizes="auto"
            data-srcset="{{ imageFunctions.srcset(image, outputWidths, desktopAspectRatio) }}"
            {% if image.alt %}alt="{{ image.alt }}"{% endif %}>
          {% if image.caption %}
          <figcaption>{{ image.caption }}</figcaption>
          {% endif %}
        </figure>
    {% endif %}

    <h2>{{ spotlight.title }}</h2>
    <h3>Champion of the Month</h3>

  </a>
</section>
{% endif %}

{# {% if welcomeBlock.welcomeName %}
  <h3>From {{ welcomeBlock.welcomeName }}</h3>
{% endif %}

{% if welcomeBlock.welcomeHeadline %}
  <h2>{{ welcomeBlock.welcomeHeadline|nl2br|raw }}</h2>
{% endif %}

{% if welcomeBlock.welcomeText %}
  <p>{{ welcomeBlock.welcomeText|nl2br|raw }}</p>
{% endif %}

{% if welcomeBlock.learnMoreLink.count() %}
  {%- set learnMore = welcomeBlock.learnMoreLink.one() -%}
  <a href="{{learnMore.url}}" title="{{ learnMore.title }}">Learn More</a>
{% endif %} #}
