{%- set cat = craft.categories.group('storyType').slug(spotlightType).one() -%}
{%- set spotlight = craft.entries.section('newsEvents').relatedTo(cat).one() -%}
{% if craft.entries.section('newsEvents').relatedTo(cat) | length %}
<section class="block--spotlight">
  <a href="{{ spotlight.url }}" title="Champion of the Month: {{ spotlight.title }}">
    {% set employeePhotoExists = false %}
    {% if spotlight.employee | length %}
      {% if spotlight.employee.one().staffPhoto | length %}
        {% set employeePhotoExists = true %}
      {% endif %}
    {% endif %}

    {% if (spotlight.primaryImage | length) or employeePhotoExists %}
      {% if spotlight.primaryImage | length %}
        {%- set image = spotlight.primaryImage.one() -%}
      {% else %}
        {%- set image = spotlight.employee.one().staffPhoto.one() -%}
      {% endif %}

        <figure class="mobile">
          <img class="lazyload"
            src="{{ image.optimizedImagesBlockPreview.placeholderBox() }}"
            data-sizes="auto"
            data-srcset="{{ image.optimizedImagesBlockPreview.srcset() }}"
            {% if image.alt %}alt="{{ image.alt }}"{% endif %}>
          {% if image.caption %}
          <figcaption>{{ image.caption }}</figcaption>
          {% endif %}
        </figure>

        <figure class="desktop">
          <img class="lazyload"
            src="{{ image.optimizedImagesBlockPreview.placeholderBox() }}"
            data-sizes="auto"
            data-srcset="{{ image.optimizedImagesBlockPreview.srcset() }}"
            {% if image.alt %}alt="{{ image.alt }}"{% endif %}>
          {% if image.caption %}
          <figcaption>{{ image.caption }}</figcaption>
          {% endif %}
        </figure>
    {% endif %}

    <h2>{{ spotlight.title }}</h2>
    <h3>{{ spotlight.storyType.one().slug == 'champions' ? 'Champion of the Month' : spotlight.storyType.one().title }}</h3>

  </a>
</section>
{% endif %}
