<section id="block--mayor-welcome">
{%- set welcomeBlock = entry.welcome.one() -%}

{% if welcomeBlock.welcomePhoto | length %}
  {%- import "macros/_images" as imageFunctions -%}
  {%- set image = welcomeBlock.welcomePhoto.one() -%}
  {% set outputWidths = [230, 400, 800] %}
  {%- set lowQuality = 20 -%}
  {%- set highQuality = 82 -%}

  {%- set aspectRatio = (1/1) -%}
  {%- set small = { width: 40, height: 40 / aspectRatio, quality: lowQuality } -%}

  <figure>
    <img class="lazyload"
      src="{{ image.getUrl(small) }}"
      data-sizes="100vw"
      data-srcset="{{ imageFunctions.srcset(image, outputWidths, aspectRatio) }}"
      {% if image.alt %}alt="{{ image.alt }}"{% endif %}>
    {% if image.caption %}
    <figcaption>{{ image.caption }}</figcaption>
    {% endif %}
  </figure>
{% endif %}

{% if welcomeBlock.welcomeName %}
  <h3>From {{ welcomeBlock.welcomeName }}</h3>
{% endif %}

{% if welcomeBlock.welcomeHeadline %}
  <h2>{{ welcomeBlock.welcomeHeadline|nl2br|raw }}</h2>
{% endif %}

{% if welcomeBlock.welcomeText %}
  <p>{{ welcomeBlock.welcomeText|nl2br|raw }}</p>
{% endif %}

{% if welcomeBlock.learnMoreLink | length %}
  {%- set learnMore = welcomeBlock.learnMoreLink.one() -%}
  <a href="{{learnMore.url}}" title="{{ learnMore.title }}">Learn More</a>
{% endif %}

</section>
