{#
    Staff Directory Entry Template
#}

{% extends "layouts/columns/_one" %}

{% set fullName = entry.personName|trim|replace({'  ': ' '}) %}

{% set title = fullName ~ ', ' ~ entry.positionTitle %}

{# Get department & building #}
{% set department = entry.department.one() %}
{% set building = department.building.one() %}

{# HTML #}
{% block main %}
{% cache %}
<section id="staff-profile" itemscope itemtype="http://schema.org/Person">
  {% if entry.staffPhoto | length %}
    <picture itemprop="image">
      <sources data-srcset="{{ entry.staffPhoto.one().optimizedImagesSquare.srcsetWebP() }}"
               data-sizes="50vw"
               type="image/webp" />
      <img class="lazyload" src="{{ entry.staffPhoto.one().optimizedImagesSquare.placeholderBox() }}"
           data-srcset="{{ entry.staffPhoto.one().optimizedImagesSquare.srcset() }}"
           data-sizes="50vw" alt="{{ fullName }}" />
    </picture>
  {% endif %}

  <h1 itemprop="name" class="fn">{{ fullName | typogrify }}</h1>
  <h2 itemprop="jobTitle">{{ entry.positionTitle | typogrify }}</h2>

  <h4>{{ department.title | typogrify }}</h4>

  <div id="staff-profile--address-data" itemscope itemtype="http://schema.org/GovernmentBuilding">
    <div id="staff-profile--address" itemscope itemtype="http://schema.org/GovernmentBuilding">
      <span itemprop="name">{{ building.title }}</span>
      <div class="address" itemprop="address" itemscope itemtype="http://schema.org/PostalAddress">
        <span itemprop="streetAddress">{{ building.buildingAddress.addressLine2 }}</span><br>
        <span itemprop="addressLocality">{{ building.buildingAddress.locality }}</span>,
        <span itemprop="addressRegion">{{ building.buildingAddress.administrativeArea }}</span>
        <span itemprop="postalCode">{{ building.buildingAddress.postalCode }}</span>
      </div>
    </div>
    <div id="staff-profile--phone-other">
      {% if entry.phone %}
        {# {% set directPhoneLength = entry.phone.phoneNumber|length %}
        {% set directPhoneNewLength = directPhoneLength - 10 %}
        {% set directPhoneUnformattedNumber = entry.phone.phoneNumber|slice(directPhoneNewLength, directPhoneLength) %}
        {% set directPhoneAreaCode = directPhoneUnformattedNumber|slice(0, 3) %}
        {% set directPhoneSliceA = directPhoneUnformattedNumber|slice(3, 3) %}
        {% set directPhoneSliceB = directPhoneUnformattedNumber|slice(6, 4) %}
        <p><strong>Phone</strong> <span itemprop="telephone">{{ '(' ~ directPhoneAreaCode ~ ') ' ~ directPhoneSliceA ~ '-' ~ directPhoneSliceB }}</span></p> #}
        <p><strong>Phone</strong> <span itemprop="telephone">{{ entry.phone }}</span></p>
      {% endif %}

      {% if general.tollFreePhoneNumber %}
      <h4>Toll-Free</h4>
      <div class="phone">
        <span itemprop="telephone">{{ general.tollFreePhoneNumber.format('national') }}</span>
      </div>
      {% endif %}

      {% if department.phone %}
        <p><strong>Department Phone</strong> <span itemprop="telephone">{{ department.phone.format('national') }}</span></p>
      {% endif %}

      {% if department.fax %}
        <p><strong>Department Fax</strong> <span itemprop="faxNumber">{{ department.fax.format('national') }}</span></p>
      {% endif %}

      {% if entry.email %}
      {% set email = "<a href='mailto:" ~ entry.email ~ "' itemprop='email'>" ~ entry.email ~ "</a>" %}
      <p><strong>Email</strong> {{ email | encode }}</p>
      {# <a itemprop="email" href="mailto:{{ entry.email }}" target="_blank">{{ entry.email | encode }}</a> #}
      {% endif %}

    </div>
  </div>

  {% if entry.bio %}<p>{{ entry.bio | typogrify }}</p>{% endif %}

</section>
{% endcache %}
{% endblock %}
