<nav>
  <ul>
    {% set copyrightNav = footer.footerSubMenu.all() %}
    {% nav item in copyrightNav %}
      {% if item.type == "customMenuItem" %}
        <li class="footer--copyright-nav--item footer--copyright-nav--item-text"><a href="{{item.menuItemUrl}}"{% if item.newWindow %} target="_blank"{% endif %} title="{{ item.menuItemTitle }}">{{ item.menuItemTitle }}</a></li>
      {% elseif item.type == "entryMenuItem" %}
        {% set entry = item.entry.one() %}
        <li class="footer--copyright-nav--item"><a href="{{entry.url}}" title="{{ entry.Title }}">{{ entry.Title }}</a></li>
      {% endif %}
    {% endnav %}
  </ul>
</nav>
