{% set logo = footer.logo.one() %}<style>.footer--logo { background-image: url({{logo.url}}); }</style>
<div id="footer--logo-container">
  <a href="{{siteUrl}}" data-analytics-title="{{ siteName }} homepage" title="{{ siteName }} homepage">
    <span class="footer--logo"><strong>{{ siteName }}</strong></span>
  </a>
</div>
