{#
    Homepage
#}

{% extends "layouts/columns/_two_parallax" %}

{# PARALLAX HEADER #}
{% block parallaxBack %}

<div id="header-image" class="{{entry.section.handle}}">
  {%- set image = entry.primaryImage.one() -%}
  {%- set initialQuality = 20 -%}

  {%- set mobileAspectRatio = (15/12) -%}
  {%- set mobileSmall = { width: 40, height: 40 / mobileAspectRatio, quality: initialQuality } -%}

  {%- set desktopAspectRatio = (12/5) -%}
  {%- set desktopSmall = { width: 40, height: 40 / desktopAspectRatio, quality: initialQuality } -%}

  <figure class="mobile">
    <img class="lazyload"
      src="{{ image.optimizedImagesLandingHeader.placeholderImage() }}"
      data-sizes="100vw"
      data-srcset="{{ image.optimizedImagesLandingHeader.srcset() }}"
      {% if image.alt %}alt="{{ image.alt }}"{% endif %}>
    {% if image.caption %}
    <figcaption>{{ image.caption }}</figcaption>
    {% endif %}
  </figure>

  <figure class="desktop">
    <img class="lazyload"
      src="{{ image.optimizedImagesLandingHeader.placeholderImage() }}"
      data-sizes="100vw"
      data-srcset="{{ image.optimizedImagesLandingHeader.srcset() }}"
      {% if image.alt %}alt="{{ image.alt }}"{% endif %}>
    {% if image.caption %}
    <figcaption>{{ image.caption }}</figcaption>
    {% endif %}
  </figure>

  <h1>Welcome to <span><strong>{{siteName}}</strong></span></h1>
</div>

{% endblock %}



{# MAIN COLUMN CONTENT #}
{% block main %}

  {{ include('modules/content/_block-mayor-welcome') }}

  {{ include('modules/content/_block-quick-links') }}

  {{ include('modules/content/_block-spotlight', {spotlightType: 'champions'}) }}

  {{ include('modules/content/_block-story-share') }}

{% endblock %}


{# ASIDE #}
{% block aside %}

  {{ include('modules/content/_block-weather-tip') }}

  {{ include('modules/content/_block-news-events-home') }}

  {{ include('modules/content/_block-story-share') }}

{% endblock %}



{# SECONDARY CONTENT #}
{% block content_two %}

  {{ include('modules/content/_block-home-featured-video') }}

  <section id="block--spotlights-two">
    {{ include('modules/content/_block-spotlight', {spotlightType: 'business-spotlight'}) }}
    {{ include('modules/content/_block-spotlight', {spotlightType: 'employee-spotlight'}) }}
  </section>

  {{ include('modules/content/_block-location') }}

  {{ include('modules/content/_block-process') }}

{% endblock %}


