{#
    Homepage
#}

{% extends "layouts/columns/_two_parallax" %}

{# PARALLAX HEADER #}
{% block parallaxBack %}

{% if entry.primaryImage | length %}
<div id="header-image" class="{{entry.section.handle}}">
  {%- import "macros/_images" as imageFunctions -%}
  {%- set image = entry.primaryImage.one() -%}

  <figure>
    {{ imageFunctions.responsivePicture(image.optimizedImagesLandingHeader, image.alt) }}
    {% if image.caption %}<figcaption>{{ image.caption }}</figcaption>{% endif %}
  </figure>

  <h1>Welcome to <span><strong>{{siteName}}</strong></span></h1>
</div>
{% endif %}

{% endblock %}



{# MAIN COLUMN CONTENT #}
{% block main %}

{% cache using key 'homepage_section_top' %}

  {{ include('modules/content/_block-mayor-welcome') }}

  {{ include('modules/content/_block-quick-links') }}

  {{ include('modules/content/_block-spotlight', {spotlightType: 'champions'}) }}

  {{ include('modules/content/_block-story-share') }}

{% endcache %}

{% endblock %}


{# ASIDE #}
{% block aside %}

  {{ include('modules/content/_block-weather-tip') }}

  {{ include('modules/content/_block-news-events-home') }}

  {{ include('modules/content/_block-story-share') }}

{% endblock %}



{# SECONDARY CONTENT #}
{% block content_two %}

{% cache using key 'homepage_section_bottom' %}

  {{ include('modules/content/_block-home-featured-video') }}

  <section id="block--spotlights-two">
    {{ include('modules/content/_block-spotlight', {spotlightType: 'business-spotlight'}) }}
    {{ include('modules/content/_block-spotlight', {spotlightType: 'employee-spotlight'}) }}
  </section>

  {{ include('modules/content/_block-location') }}

  {{ include('modules/content/_block-process') }}

{% endcache %}

{% endblock %}


