{#
    Contact Landing Template
#}

{% extends "layouts/base/_base_parallax" %}

{% set title = entry.title %}
{% set type = 'landing' %}

{# Get building #}
{% set building = entry.building.one() %}

{# Get hours from entry #}
{% set hoursOfOperation = entry.hoursOfOperation %}

{# Set up our array of weekdays #}
{% set days = ['Sunday', 'Monday', 'Tuesday', 'Wednesday', 'Thursday', 'Friday', 'Saturday'] %}
{% set daysShort = ['Su', 'Mo', 'Tu', 'We', 'Th', 'Fr', 'Sa'] %}
{% set daysInitial = ['S', 'M', 'T', 'W', 'T', 'F', 'S'] %}

{# Setup a new array operationHours to hold all you hashes
   and prev variables to compare things to in the loop
 #}
{% set operationHours, prevDays, prevDaysShort, prevOpen, prevClose = [],[],[],"","" %}

{# Check to see if a preference has been set to change the default week start day from Sunday to Monday #}
{% set startDay = currentUser.getPreference('weekStartDay') ?? craft.app.config.general.defaultWeekStartDay %}
{% if startDay != 0 %}
  {% set days = ['Monday', 'Tuesday', 'Wednesday', 'Thursday', 'Friday', 'Saturday', 'Sunday'] %}
  {% set daysShort = ['Mo', 'Tu', 'We', 'Th', 'Fr', 'Sa', 'Su'] %}
  {% set daysInitial = ['M', 'T', 'W', 'T', 'F', 'S', 'S'] %}
  {% set hoursOfOperation = entry.hoursOfOperation|slice(1,entry.hoursOfOperation|length)|merge(entry.hoursOfOperation|slice(0,1)) %}
{% endif %}

{# Loop thru the Hours of Operation field and build the operationHours array #}
{% for item in hoursOfOperation %}

  {# in the first loop, setup the prevOpen and prevClose variables  #}
  {% if loop.first %}
    {% set prevOpen, prevClose = item.open, item.close %}
  {% endif %}

  {# If the prev hours match the current item's hours,
     add that day's name to the array of prev days, ["Monday","Tuesday"] etc.
   #}
  {% if prevOpen == item.open and prevClose == item.close %}
    {% set prevDays = prevDays|merge([days[loop.index0]]) %}
    {% set prevDaysShort = prevDaysShort|merge([daysShort[loop.index0]]) %}

  {# If it doesn't match, add prev variables as a hash to the operationHours array,
     Then set all prev variables with current item
   #}
  {% else %}

    {% set operationHours = operationHours|merge([{
      "days" : prevDays,
      "daysShort" : prevDaysShort,
      "open" : prevOpen,
      "close" : prevClose
    }]) %}

    {% set prevDays = [days[loop.index0]] %}
    {% set prevDaysShort = [daysShort[loop.index0]] %}
    {% set prevOpen = item.open %}
    {% set prevClose = item.close %}

  {% endif %}

  {# If last loop, add prev variables as a hash to the operationHours array
     because there won't be another loop to compare it to.
   #}
  {% if loop.last %}
    {% set operationHours = operationHours|merge([{
      "days" : prevDays,
      "daysShort" : prevDaysShort,
      "open" : prevOpen,
      "close" : prevClose
    }]) %}
  {% endif %}

{% endfor %}








{# HEADER IMAGE #}
{% block parallaxBack %}
  {% if entry.primaryImage.count() %}{% include "modules/content/_header-block" %}{% endif %}
{% endblock %}


{# MAIN COLUMN CONTENT #}
{% block content %}

<section id="contact--address">

  <div id="contact--address-data" itemscope itemtype="http://schema.org/GovernmentBuilding">

    {% if logo.logoIcon.count() %}
    <figure id="contact--logo-icon">
      {% set logo = logo.logoIcon.one() %}
      {% set path = logo.volume.path ~ '/' ~ logo.filename %}
      {{ craft.inlin.er(path, true) | raw }}
    </figure>
    {% endif %}

    <h4>Address</h4>
    <span itemprop="name">{{ building.title }}</span>
    <div class="address" itemprop="address" itemscope itemtype="http://schema.org/PostalAddress">
      <span itemprop="streetAddress">{{ building.buildingAddress.addressLine2 }}</span><br>
      <span itemprop="addressLocality">{{ building.buildingAddress.locality }}</span>,
      <span itemprop="addressRegion">{{ building.buildingAddress.administrativeArea }}</span>
      <span itemprop="postalCode">{{ building.buildingAddress.postalCode }}</span>
    </div>

    <h4>Office Hours</h4>
    {% for item in operationHours %}
    <div class="hours">
      {% if item.open|length and item.close|length %}
        <meta itemprop="openingHours"
          content="{{ item.daysShort|join(',') }} {{ item.open.time|date('H:i') }}-{{ item.close.time|date('H:i') }}">
          {{ item.daysShort|first }}{% if item.daysShort|length > 1 %}-{{ item.daysShort|last }}{% endif %}<br>
          {{ item.open.time|date('g:ia') }}-{{ item.close.time|date('g:ia') }}
      {% else %}
        <meta class="hours__hours" itemprop="openingHours"
          content="{{ item.daysShort|join(',') }} Closed">
          Closed {{ item.daysShort|first }}{% if item.daysShort|length > 1 %}-{{ item.daysShort|last }}{% endif %}
      {% endif %}
    </div>
    {% endfor %}

    {% if entry.phone %}
    <h4>Phone</h4>
    <div class="phone">
      {% set phoneLength = entry.phone.phoneNumber|length %}
      {% set newLength = phoneLength - 10 %}
      {% set unformattedNumber = entry.phone.phoneNumber|slice(newLength, phoneLength) %}
      {% set areaCode = unformattedNumber|slice(0, 3) %}
      {% set phoneSliceA = unformattedNumber|slice(3, 3) %}
      {% set phoneSliceB = unformattedNumber|slice(6, 4) %}
      <span itemprop="telephone">{{ '(' ~ areaCode ~ ') ' ~ phoneSliceA ~ '-' ~ phoneSliceB }}</span>
    </div>
    {% endif %}

    <a href="craft.entries.section('directoryLanding').one().url" title="Staff Directory">Staff Directory</a>

  </div>

  <div id="contact--address-map">
    <div id="map"></div>
    <a href="{{building.buildingAddress.mapUrl}}" target="_blank" title="Get Directions to {{ building.title }}">Directions</a>
  </div>

</section>

<section id="contact--info-request">

</section>

<section id="contact--form">

</section>




{% set mapsJs %}
{% minify js %}
google.maps.event.addDomListener(window, 'load', initializeContactMap({{building.buildingAddress.latitude}},{{building.buildingAddress.longitude}}));
{% endminify %}
{% endset %}

{% do view.registerJsFile('//maps.googleapis.com/maps/api/js?key=' ~ craft.app.config.general.googleApiKey ~ '&v=3.exp') %}

{% js mapsJs %}

{% endblock %}
