 {% cache globally using key 'block-subpage-' ~ entry.id ~ '-' ~ entry.slug %}
<section id="{{ entry.id }}-{{ entry.slug }}" class="block--subpage">
  <a href="{{ entry.url }}" title="{{ entry.title }}">
  {% if entry.primaryImage | length %}
    {%- import "macros/_images" as imageFunctions -%}
    {%- set image = entry.primaryImage.one() -%}

    <figure>
      {{ imageFunctions.responsivePicture(image.optimizedImagesBlockPreview, image.alt) }}
      {% if image.caption %}<figcaption>{{ image.caption }}</figcaption>{% endif %}
    </figure>
  {% endif %}

    <h3>{{ entry.title }}</h3>
  </a>
</section>
 {% endcache %}
