{% set nav = menus.mainMenu.all() %}

<ul class="nav--main">
  {% include 'modules/header/_logo' %}
  {% nav item in nav %}
    {% if item.type == "customMenuItem" %}
      <li class="menu--item menu--item-text"><a href="{{item.menuItemUrl}}"{% if item.newWindow %} target="_blank"{% endif %} title="{{ item.menuItemTitle }}">{{ item.menuItemTitle }}</a></li>
    {% elseif item.type == "entryMenuItem" %}
      {% set entry = item.entry.one() %}
      <li class="menu--item menu--item-text"><a href="{{entry.url}}" title="{{ entry.Title }}">{{ entry.Title }}</a></li>
    {% endif %}
  {% endnav %}
  {% include 'modules/header/_toggle-icon' %}
</ul>
