{% header "x-author: Mike Stecker (@mikestecker)" %}
<!DOCTYPE html>
<html lang="{{ craft.app.language |slice(0,2) }}" prefix="og: http://ogp.me/ns# fb: http://ogp.me/ns/fb#">
<head>
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />

  <title>{% if title is defined %}{{ title }} - {% endif %}{{ siteName }}</title>

  <link type="text/plain" rel="author" href="/humans.txt" />
  <link rel="apple-touch-icon" sizes="180x180" href="/apple-touch-icon.png">
  <link rel="icon" type="image/png" sizes="32x32" href="/favicon-32x32.png">
  <link rel="icon" type="image/png" sizes="16x16" href="/favicon-16x16.png">
  <link rel="manifest" href="/manifest.json">
  <link rel="mask-icon" href="/safari-pinned-tab.svg" color="#033762">
  <meta name="theme-color" content="#ffffff">

  {% set fonts = '//fonts.googleapis.com/css?family=Montserrat:400,400i,700,700i|Noto+Serif:400,400i,700,700i|Source+Sans+Pro:400,400i,600,600i,700,700i' %}

{# Base #}
{% if craft.app.config.general.craftEnv == 'local' %}
  <link rel="stylesheet" href="/assets/css/site.combined.min.css">
{% else %}
  <link rel="stylesheet" href="{{ craft.stamp.er('/assets/css/site.combined.min.css') }}">
{% endif %}

{% do view.registerCssFile(fonts) %}

{% if craft.app.config.general.craftEnv == 'local' %}
  {% do view.registerJsFile('/assets/js/site.combined.min.js') %}
{% else %}
  {% do view.registerJsFile(craft.stamp.er('/assets/js/site.combined.min.js')) %}
  {% do view.registerJsFile('https://www.googletagmanager.com/gtag/js?id=UA-111364147-1') %}
  {% js %}
  if(!(navigator.doNotTrack == "1" || window.doNotTrack == "1")) {
    window.dataLayer = window.dataLayer || [];
    function gtag(){dataLayer.push(arguments);}
    gtag('js', new Date());
    gtag('config', 'UA-111364147-1');
  }
  {% endjs %}

{% endif %}

{# {% do view.registerJsFile('https://speedfont.com/api?key=HueyefKgmbJc') %} #}

{{ head() }}
</head>
<body>
  {{ beginBody() }}
  <div id="container">
    {% include 'modules/side-menu/_side-menu' %}

    {# content push wrapper #}
    <div id="page" class="{% if entry is defined %}page-section--{{ entry.section.handle }}{% endif %}{% if type is defined %} page-type--{{ type }}{% endif %}{% if (entry is defined) and (entry.primaryImage | length) %} has--header-image{% endif %}">

      {% include 'modules/header/_header' %}
      {% block core %}{% endblock %}

    </div>{#  /#wrapper #}
  </div>{#  /#container #}

  {{ endBody() }}
</body>
</html>