{% header "x-author: Mike Stecker (@mikestecker)" %}
<!DOCTYPE html>
<meta name="viewport" content="width=device-width, initial-scale=1">

<title>{% if title is defined %}{{ title }} - {% endif %}{{ siteName }}</title>

<link type="text/plain" rel="author" href="/humans.txt" />
<link rel="apple-touch-icon" sizes="180x180" href="/apple-touch-icon.png">
<link rel="icon" type="image/png" sizes="32x32" href="/favicon-32x32.png">
<link rel="icon" type="image/png" sizes="16x16" href="/favicon-16x16.png">
<link rel="manifest" href="/manifest.json">
<link rel="mask-icon" href="/safari-pinned-tab.svg" color="#033762">
<meta name="theme-color" content="#ffffff">

{# Base #}
{% do view.registerCssFile(craft.stamp.er('/assets/css/master.css')) %}

{% do view.registerJsFile('//code.jquery.com/jquery-3.2.1.min.js') %}
{% do view.registerJsFile('//speedfont.com/api?key=qCWgzVFVUilK') %}
{% do view.registerJsFile(craft.stamp.er('/assets/js/scripts.js')) %}

{{ head() }}

<div id="container">
  {# {% cache for 4 weeks %} #}
    {% include 'modules/side-menu/_side-menu' %}
  {# {% endcache %} #}

  {# content push wrapper #}
  <div id="page" class="{% if entry is defined %}page-section--{{ entry.section.handle }}{% endif %}{% if type is defined %} page-type--{{ type }}{% endif %}">

    {# <div id="page"> #}{# this is the wrapper for the content #}
      {# <div id="page--inner" class="page-section--{{ craft.app.request.segments | first }}{% if type is defined %} page-type--{{ type }}{% endif %}"> #}{# extra div for emulating position:fixed of the menu #}

        {# {% cache for 4 weeks %} #}
          {% include 'modules/header/_header' %}
        {# {% endcache %} #}

        {% block core %}{% endblock %}

      {# </div><!-- /#page--inner --> #}
    {# </div><!-- /#page --> #}

  </div><!-- /#wrapper -->
</div><!-- /#container -->

{{ endBody() }}
