{% header "x-author: Mike Stecker (@mikestecker)" %}

{% if craft.app.request.getParam('q') == 'node/3' %}{% redirect 'government' 301 %}{% endif %}
{% if craft.app.request.getParam('q') == 'node/575' %}{% redirect 'government/minutes-agendas' 301 %}{% endif %}
{% if craft.app.request.getParam('q') == 'node/575' %}{% redirect 'government/minutes-agendas/common-council' 301 %}{% endif %}
{% if craft.app.request.getParam('q') == 'node/206' %}{% redirect 'government/boards-commissions' 301 %}{% endif %}
{% if craft.app.request.getParam('q') == 'node/598' %}{% redirect 'government/boards-commissions/board-of-public-works-safety' 301 %}{% endif %}
{% if craft.app.request.getParam('q') == 'node/134' %}{% redirect 'government/boards-commissions/board-of-zoning-appeals' 301 %}{% endif %}
{% if craft.app.request.getParam('q') == 'node/133' %}{% redirect 'government/boards-commissions/city-plan-commission' 301 %}{% endif %}
{% if craft.app.request.getParam('q') == 'node/100' %}{% redirect 'government/boards-commissions/common-council' 301 %}{% endif %}
{% if craft.app.request.getParam('q') == 'node/124' %}{% redirect 'government/boards-commissions/parks-recreation-board' 301 %}{% endif %}
{% if craft.app.request.getParam('q') == 'node/248' %}{% redirect 'government/boards-commissions/redevelopment-commission' 301 %}{% endif %}
{% if craft.app.request.getParam('q') == 'node/120' %}{% redirect 'government/boards-commissions/traffic-commission' 301 %}{% endif %}
{% if craft.app.request.getParam('q') == 'node/3' %}{% redirect 'government/departments' 301 %}{% endif %}
{% if craft.app.request.getParam('q') == 'node/5' %}{% redirect 'government/departments/animal-care-control' 301 %}{% endif %}
{% if craft.app.request.getParam('q') == 'node/454' %}{% redirect 'government/departments/animal-care-control/fees' 301 %}{% endif %}
{% if craft.app.request.getParam('q') == 'node/38' %}{% redirect 'government/departments/animal-care-control/how-you-can-help' 301 %}{% endif %}
{% if craft.app.request.getParam('q') == 'node/79' %}{% redirect 'government/departments/animal-care-control/report-animal-issues' 301 %}{% endif %}
{% if craft.app.request.getParam('q') == 'node/11' %}{% redirect 'government/departments/building-department' 301 %}{% endif %}
{% if craft.app.request.getParam('q') == 'node/98' %}{% redirect 'government/departments/city-clerk-court' 301 %}{% endif %}
{% if craft.app.request.getParam('q') == 'node/83' %}{% redirect 'government/departments/city-clerk-court' 301 %}{% endif %}
{% if craft.app.request.getParam('q') == 'node/13' %}{% redirect 'government/departments/city-hall' 301 %}{% endif %}
{% if craft.app.request.getParam('q') == 'node/10' %}{% redirect 'government/departments/city-planning' 301 %}{% endif %}
{% if craft.app.request.getParam('q') == 'node/4' %}{% redirect 'government/departments/city-planning/planning-documents' 301 %}{% endif %}
{% if craft.app.request.getParam('q') == 'node/224' %}{% redirect 'government/departments/city-planning/applications-fees' 301 %}{% endif %}
{% if craft.app.request.getParam('q') == 'node/225' %}{% redirect 'government/departments/city-planning/zoning-information' 301 %}{% endif %}
{% if craft.app.request.getParam('q') == 'node/23' %}{% redirect 'government/departments/citywide-maintenance' 301 %}{% endif %}
{% if craft.app.request.getParam('q') == 'node/9' %}{% redirect 'government/departments/code-enforcement' 301 %}{% endif %}
{% if craft.app.request.getParam('q') == 'node/135' %}{% redirect 'government/departments/code-enforcement/top-code-violations' 301 %}{% endif %}
{% if craft.app.request.getParam('q') == 'node/126' %}{% redirect 'government/departments/community-development-marketing' 301 %}{% endif %}
{% if craft.app.request.getParam('q') == 'node/82' %}{% redirect 'government/departments/community-development-marketing/neighborhood' 301 %}{% endif %}
{% if craft.app.request.getParam('q') == 'node/12' %}{% redirect 'government/departments/controller' 301 %}{% endif %}
{% if craft.app.request.getParam('q') == 'node/126' %}{% redirect 'government/departments/ecoomic-development/properties-for-sale' 301 %}{% endif %}
{% if craft.app.request.getParam('q') == 'node/15' %}{% redirect 'government/departments/engineering-traffic' 301 %}{% endif %}
{% if craft.app.request.getParam('q') == 'node/106' %}{% redirect 'government/departments/engineering-traffic/obstruction-permits' 301 %}{% endif %}
{% if craft.app.request.getParam('q') == 'node/435' %}{% redirect 'government/departments/engineering-traffic/marion-ada' 301 %}{% endif %}
{% if craft.app.request.getParam('q') == 'node/85' %}{% redirect 'government/departments/engineering-traffic/storm-water-pollution-control' 301 %}{% endif %}
{% if craft.app.request.getParam('q') == 'node/16' %}{% redirect 'government/departments/fire' 301 %}{% endif %}
{% if craft.app.request.getParam('q') == 'node/218' %}{% redirect 'government/departments/fire/life-saving-courses' 301 %}{% endif %}
{% if craft.app.request.getParam('q') == 'node/17' %}{% redirect 'government/departments/human-resources' 301 %}{% endif %}
{% if craft.app.request.getParam('q') == 'node/18' %}{% redirect 'government/departments/information-technology' 301 %}{% endif %}
{% if craft.app.request.getParam('q') == 'node/20' %}{% redirect 'government/departments/mayor' 301 %}{% endif %}
{% if craft.app.request.getParam('q') == 'node/126' %}{% redirect 'government/departments/economic-development' 301 %}{% endif %}
{% if craft.app.request.getParam('q') == 'node/21' %}{% redirect 'government/departments/parks-recreation' 301 %}{% endif %}
{% if craft.app.request.getParam('q') == 'node/202' %}{% redirect 'government/departments/parks-recreation/splash-house' 301 %}{% endif %}
{% if craft.app.request.getParam('q') == 'node/189' %}{% redirect 'government/departments/parks-recreation/walkway-of-lights' 301 %}{% endif %}
{% if craft.app.request.getParam('q') == 'node/22' %}{% redirect 'government/departments/police' 301 %}{% endif %}
{% if craft.app.request.getParam('q') == 'node/491' %}{% redirect 'government/departments/police/victims-advocate' 301 %}{% endif %}
{% if craft.app.request.getParam('q') == 'node/24' %}{% redirect 'government/departments/transportation' 301 %}{% endif %}
{% if craft.app.request.getParam('q') == 'node/82' %}{% redirect 'government/departments/community-development-marketing/neighborhood' 301 %}{% endif %}
{% if craft.app.request.getParam('q') == 'node/199' %}{% redirect 'government/departments/economi-development/city-properties' 301 %}{% endif %}
{% if craft.app.request.getParam('q') == 'node/27' %}{% redirect 'contact' 301 %}{% endif %}
{% if craft.app.request.getParam('q') == 'node/6' %}{% redirect 'about' 301 %}{% endif %}
{% if craft.app.request.getParam('q') == 'node/20' %}{% redirect 'government/departments/mayor/about' 301 %}{% endif %}

<!DOCTYPE html>
<html lang="{{ craft.app.language |slice(0,2) }}" prefix="og: http://ogp.me/ns# fb: http://ogp.me/ns/fb#">
<head>
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
  <meta http-equiv="X-UA-Compatible" content="IE=edge">

  <title>{% if title is defined %}{{ title }} - {% endif %}{{ siteName }}</title>

  <link type="text/plain" rel="author" href="/humans.txt" />
  <link rel="apple-touch-icon" sizes="180x180" href="/apple-touch-icon.png">
  <link rel="icon" type="image/png" sizes="32x32" href="/favicon-32x32.png">
  <link rel="icon" type="image/png" sizes="16x16" href="/favicon-16x16.png">
  <link rel="manifest" href="/manifest.json">
  <link rel="mask-icon" href="/safari-pinned-tab.svg" color="#033762">
  <meta name="theme-color" content="#ffffff">

{% set fonts = '//fonts.googleapis.com/css?family=Montserrat:400,400i,700,700i|Noto+Serif:400,400i,700,700i|Source+Sans+Pro:400,400i,600,600i,700,700i' %}
<link rel="stylesheet" href="{{ fonts }}" async>

{# Base #}
{% if craft.app.config.general.craftEnv == 'local' %}
  <link rel="stylesheet" href="/assets/css/site.combined.min.css">
{% else %}
  <link rel="stylesheet" href="{{ craft.stamp.er('/assets/css/site.combined.min.css') }}">
{% endif %}


{% if craft.app.config.general.craftEnv == 'local' %}
  {% do view.registerJsFile('/assets/js/site.combined.min.js', {defer: ''}) %}
{% else %}
  {% do view.registerJsFile(craft.stamp.er('/assets/js/site.combined.min.js'), {defer: ''}) %}
  {% do view.registerJsFile('https://www.googletagmanager.com/gtag/js?id=UA-111364147-1', {defer: ''}) %}
  {% js %}
  if(!(navigator.doNotTrack == "1" || window.doNotTrack == "1")) {
    window.dataLayer = window.dataLayer || [];
    function gtag(){dataLayer.push(arguments);}
    gtag('js', new Date());
    gtag('config', 'UA-111364147-1');
  }
  {% endjs %}

{% endif %}

{# {% do view.registerJsFile('https://speedfont.com/api?key=HueyefKgmbJc') %} #}

{{ head() }}
</head>
<body>
  {{ beginBody() }}
  <div id="container">
    {% include 'modules/side-menu/_side-menu' %}

    {# content push wrapper #}
    <div id="page" class="{% if entry is defined %}page-section--{{ entry.section.handle }}{% endif %}{% if type is defined %} page-type--{{ type }}{% endif %}{% if (entry is defined) and (entry.primaryImage | length) %} has--header-image{% endif %}">

      {% include 'modules/header/_header' %}
      {% block core %}{% endblock %}

    </div>{#  /#wrapper #}
  </div>{#  /#container #}

  {{ endBody() }}
</body>
</html>