<div id="department--{{ department.slug }}--modal" class="contact-department-modal-pop">

  {% macro errorList(errors) %}
      {% if errors %}
          <ul class="errors">
              {% for error in errors %}
                  <li>{{ error }}</li>
              {% endfor %}
          </ul>
      {% endif %}
  {% endmacro %}

  {% from _self import errorList %}


  <form id="department--{{ department.slug }}--form" method="post" action="" accept-charset="UTF-8">
      {{ csrfInput() }}
      <input type="hidden" name="toEmail" value="{{ department.email|hash }}">
      <input type="hidden" name="action" value="contact-form/send">
      <input id="swampFox" name="swampFox" type="text">{# honeypot #}

      <fieldset>

        <legend>Send a message to {{ department.title }}</legend>

        <div>
          <label for="from-name">Your Name</label></h3>
          <input id="from-name" type="text" name="fromName" value="{{ message.fromName ?? '' }}">
          {{ message is defined and message ? errorList(message.getErrors('fromName')) }}
        </div>

        <div>
          <label for="from-email">Your Email</label></h3>
          <input id="from-email" type="email" name="fromEmail" value="{{ message.fromEmail ?? '' }}">
          {{ message is defined and message ? errorList(message.getErrors('fromEmail')) }}
        </div>

        <div>
          <label for="subject">Subject</label></h3>
          <input id="subject" type="text" name="subject" value="{{ message.subject ?? '' }}">
          {{ message is defined and message ? errorList(message.getErrors('subject')) }}
        </div>

        <div>
          <label for="phone">Your phone number</label></h3>
          <input id="phone" type="tel" name="message[Phone]" value="">
        </div>

        <div>
          <label for="message[body]">Message</label>
          <textarea rows="10" cols="40" id="message" name="message[body]">{{ message.message ?? '' }}</textarea>
          {{ message is defined and message ? errorList(message.getErrors('message')) }}
        </div>

        <div class="center">
          <input type="submit" id="submit" value="Send Message">
        </div>

        <div id="department--{{ department.slug }}--thanks" class="thank-you-message center">
          <p>Thank you for your message!</p>
        </div>

      </fieldset>
  </form>

</div>

{% set formJs %}
{% minify js %}
$('#department--{{ department.slug }}--form').submit(function(ev) {
  // Prevent the form from actually submitting
  ev.preventDefault();

  // Send it to the server
  $.ajax('/', {
    dataType: 'json',
    type: 'POST',
    data: $(this).serialize(),
    success: function(response) {
      if (response.success) {
        $('#department--{{ department.slug }}--thanks').fadeIn();
      } else {
        // response.error will be an object containing any validation errors that occurred, indexed by field name
        // e.g. response.error.fromName => ['From Name is required']
        alert('An error occurred. Please try again.');
      }
    }
  });
});
{% endminify %}
{% endset %}

{% js formJs %}
