{#
    List Layout
#}

{% extends "layouts/columns/_one" %}
{%- import "macros/_crumbs" as bread -%}

{# CUSTOM CRUMBS #}
{% block crumbs %}
{% if entry is not defined %}

  {% if (craft.app.request.getSegment(2) == 'minutes-agendas') and craft.app.request.getSegment(3) %}
    {% set firstSegment = craft.app.request.segments|first %}
    {% set topLevel = craft.entries.slug(firstSegment).all() %}
    {% set landing = craft.entries.section('minutesAgendasLanding').one() %}
    {% set boardSlug = craft.app.request.getSegment(3) %}
    {% set board = craft.entries.section('boards').slug(boardSlug).one() %}
    {% set currentBoard = {'url': landing.url ~ '/' ~ boardSlug, 'title': board.title} %}

    {% set allCrumbs = topLevel %}
    {% set allCrumbs = allCrumbs|merge([landing]) %}
    {% set allCrumbs = allCrumbs|merge([currentBoard]) %}

    {# CHECK FOR YEAR #}
    {% if craft.app.request.getSegment(4) %}
      {% set year = craft.app.request.getSegment(4) %}
      {% set parent = allCrumbs|last %}
      {% set currentYear = {'url': parent.url ~ '/' ~ year, 'title': year} %}
      {% set allCrumbs = allCrumbs|merge([currentYear]) %}

      {# CHECK FOR DETAILS #}
      {% if craft.app.request.getSegment(5) %}
        {% set meetingSlug = craft.app.request.getSegment(5) %}
        {% set parent = allCrumbs|last %}
        {% set currentMtg = {'url': parent.url ~ '/' ~ year, 'title': meetingSlug} %}
        {% set allCrumbs = allCrumbs|merge([currentMtg]) %}
      {% endif %}

    {% endif %}

    {{ bread.breadcrumbs(allCrumbs) }}
  {% endif %}

{% endif %}
{% endblock %}




{% block main %}

<section id="list--intro">
  <div id="list--intro-text">
    {%- if entry is defined -%}
      <h1>{{ entry.title }}</h1>
      {%- if entry.headline -%}<h2>{{ entry.headline }}</h2>{%- endif -%}
      {%- if entry.leadIn -%}<p>{{ entry.leadIn }}</p>{%- endif -%}
    {%- elseif craft.app.request.segments[1] == 'minutes-agendas' -%}
      {% set landing = craft.entries.section('minutesAgendasLanding').one() %}
      {% set slug = craft.app.request.getSegment(3) %}
      {% set board = craft.entries.section('boards').slug(slug).one() %}
      <h1>{{ board }}</h1>
      <h2>{{ landing }}</h2>
    {%- endif -%}
  </div>

  {%- if entry is defined -%}
    {%- set image = entry.primaryImage.one() -%}
    {%- if image | length -%}
      {%- import "macros/_images" as imageFunctions -%}
      {%- set outputWidths = [480, 640, 1024, 1600] -%}
      {%- set initialQuality = 20 -%}
      {%- if image.aspectRatio | length -%}
        {%- set aspect = image.aspectRatio|split('x') -%}
        {%- set aspectRatio = (aspect[0]/aspect[1]) -%}
        {%- set small = { width: 40, height: 40 / aspectRatio, quality: initialQuality } -%}
        {%- set medium = { width: 100, height: 100 / aspectRatio, quality: initialQuality } -%}
      {%- else -%}
        {%- set aspectRatio = (4/3) -%} {# Default aspect ratio #}
        {%- set small = { width: 40, quality: initialQuality } -%}
        {%- set medium = { width: 100, quality: initialQuality } -%}
      {%- endif -%}

      <figure>
        <img
          class="lazyload"
          src="{{ image.getUrl(small) }}"
          data-src="{{ image.getUrl(medium) }}"
          data-sizes="auto"
          data-srcset="{{ imageFunctions.srcset(image, outputWidths, aspectRatio) }}"
          {%- if image.alt -%}alt="{{ image.alt }}"{%- endif -%}>
        {%- if image.caption -%}
        <figcaption>{{ image.caption }}</figcaption>
        {%- endif -%}
      </figure>

    {%- endif -%}
  {%- endif -%}
</section>

{% block aboveListContent %}{% endblock %}

{% block listContent %}{% endblock %}

{% endblock %}
